.admin-panel-background {
  min-height: 100svh;
  width: 100%;
  background: linear-gradient(
    to right top,
    rgb(230, 183, 95),
    rgb(253, 165, 0)
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-panel-glass {
  width: 60%;
  height: 80svh;
  min-height: 80svh;
  border-radius: 15px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  backdrop-filter: blur(4rem);
  z-index: 3;
}

.admin-panel-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  position: relative;
  height: 5svh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.514);
}

.admin-panel {
  display: flex;
  padding: 0 1rem;
  width: 100%;
  height: 75svh;
}

.admin-panel-left {
  display: flex;
  width: 25%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-right: 1px solid rgba(128, 128, 128, 0.514);
  text-align: center;
}

.admin-panel-left ul {
  list-style: none;
}

.admin-panel-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.admin-panel__inputs {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
  max-width: 100%;
}

.btn {
  background-color: transparent;
  border: none;
  font-size: 1.1rem;
  margin: 1rem 0;
  padding: 0 2rem;
}

.add-dish__btn {
  font-size: 1rem;
  background-color: orange;
  border-radius: 5px;
}

.add-dish__btn:disabled {
  background-color: lightgrey;
}

.dishDetails-btn {
  border: rgba(128, 128, 128, 0.514) 1px solid;
  font-size: 1rem;
  height: 2rem;
}

.remove-btn {
  background-color: rgb(230, 88, 88);
}

.btn:hover {
  background: rgba(255, 255, 255, 0.651);
  border-radius: 5px;
}

.close-left-panel {
  border-right: rgba(128, 128, 128, 0.514) 1px solid;
  border-top: rgba(128, 128, 128, 0.514) 1px solid;
  position: absolute;
  bottom: -1rem;
  left: 0;
  height: 2rem;
}

.hidden {
  display: none;
}

.admin-panel__add-image {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}

.dish__preview-image {
  max-width: 300px;
  max-height: 300px;
  margin: 0 auto;
  object-fit: cover;
}

.circle {
  width: 20rem;
  height: 20rem;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.circle1 {
  top: 5%;
  left: 10%;
}

.circle2 {
  bottom: 5%;
  right: 10%;
}

.dish__grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  overflow-y: scroll;
}

.dish-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgba(255, 255, 255, 0.61);
  border-radius: 15px;
  height: 200px;
}

.dish-box__img {
  width: 45%;
  height: 80%;
  object-fit: cover;
}

.dish-box__text {
  width: 45%;
}

.selected-dish {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  align-items: center;
  overflow-y: scroll;
  text-align: center;
  text-wrap: balance;
}

.selected-dish__image {
  width: 50%;
  height: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.selected-dish p {
  margin-bottom: 1rem;
  padding: 0 1rem;
}

@media screen and (max-width: 1100px) {
  .admin-panel-glass {
    width: 80%;
  }

  .dish__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .admin-panel-glass {
    width: 100%;
    height: 100svh;
    border-radius: 0;
  }

  .title {
    height: fit-content;
  }

  .admin-panel {
    height: 95%;
    padding: 0;
  }

  .dish__grid {
    grid-template-columns: 1fr;
  }

  .selected-dish__image {
    width: 75%;
  }
}
