.sign-in__background {
  min-height: 100svh;
  width: 100%;
  background: linear-gradient(
    to right top,
    rgb(230, 183, 95),
    rgb(253, 165, 0)
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in__container {
  border-radius: 15px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  backdrop-filter: blur(4rem);
  z-index: 3;
}

.sign-in__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 15px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  backdrop-filter: blur(4rem);
  z-index: 3;
  padding: 4rem;
}

.sign-in__input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sign-in__input input {
  padding: 5px;
}

@media screen and (max-width: 800px) {
  .sign-in__container {
    width: 100%;
    height: 100svh;
  }
}
